<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"  placeholder="Buscar por nombre..." />
				</span>				 
        <ng-template pTemplate="right">        
					<button pButton pRipple label="Buscar" icon="pi pi-search" class="p-button-help"></button>
				</ng-template>
    </p-toolbar>

    <p-table #dt 
			[value]="(characters$ | async)!" 
			[rows]="10" 
			[paginator]="true" 
			[globalFilterFields]="['name','resourceURI']"
      [(selection)]="selectedProducts" 
      [rowHover]="true" 
      dataKey="id"
      [scrollable]="true" 
      loadingIcon="pi pi-spin pi-spinner" 
      [loading]="isLoading"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" 
      [rowsPerPageOptions]="[5,10,15,20]"
      [pageLinks]="10"
			[showCurrentPageReport]="true">
        
        <ng-template pTemplate="caption">
					
					<div class="col-md-12" style="display: flex; align-items: center;">
						<h2 style="width: 90%;">Personajes de Marvel</h2>
					</div>
					
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">Descripción<p-sortIcon field="price"></p-sortIcon></th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-character>
            <tr>
                <td>
                    <p-tableCheckbox [value]="character"></p-tableCheckbox>
                </td>
                <td>{{character.name}}</td>
                <td>{{character.description !== "" ? character.description : "No description"}}</td>
            </tr>
        </ng-template>

				<ng-template pTemplate="emptymessage" let-columns>
							 <p style="text-align: center;">No hay Personajes que mostrar!</p>
				</ng-template>


    </p-table>

</div>
